
.contact{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 150px;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #DDC078;
    background-color: #143140;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .light-mode .form-group input,
  .light-mode .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #143140;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .submit-button {
    display: block;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }